@{
    ViewData["Title"] = "Total Score";
}

<h1>Сумма баллов</h1>

<p>Сумма баллов всех студентов равна  <strong>@ViewBag.TotalScore</strong></p>

<a asp-action="Index">Вернуться к таблице Студенты</a>
